{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Napster2 | {% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'theme/css/base.css' %}" rel="stylesheet" media="screen" /> 
  </head>
  <body>
{% if person !=  None and user.is_authenticated %}
    You are currently logged in as {{ user.username }}.<br />
    Your affiliation is {{ person.affiliation }}. <br />
    <a href="/dashboard/">Dashboard</a> | 
    <a href="/manage/">Manage Profile</a> | 
    <a href="/logout/">Logout</a> |
    <a href="/view_cart/">View Cart</a> | 
    <a href="/search/">Track Search</a> |
    <a href="/search_playlists/">Playlist Search</a> |
    {% if person.affiliation == "Employee" or person.affiliation == "Administrator" %}
    <a href="/demographics/">Demographics</a> | 
    <a href="/ordermanagement/">Order Management</a> | 
    <a href="/addtracks/">Add Tracks</a> | 
    {% endif %}
    {% if person.affiliation == "Administrator"  %}
    administrator links
    {% endif %}

{% endif %}
    <h1>{% block head %}{% endblock %}</h1>
    {% block content %}{% endblock %}
  </body>
</html>
