{% extends "base.html" %}
{% block title %}Napster 2 Dashboard{% endblock %}
{% block head %}Dashboard{% endblock %}
{% block content %}

{% if person.affiliation == "Customer" %}
Welcome, customer! <br />
<b><u>Quick Search: </u></b>
<!-- Customer dashboard. -->

<form method="post" action=".">{% csrf_token %}
  <table border="0">
    {{ qsform.as_table }}
  </table>
<input type="submit" name="quicksearch" value="Search" />
</form>

<b>Unfilled orders:</b><br />
{% if unfilled_orders %}
<table border="0">
  {% for order in unfilled_orders %}
   <tr><th>
    <form method="post" action=".">{% csrf_token %}
    <input id="id_orderid" value="{{ order.orderid }}" name="orderid" type="number" style="width:60px" readonly />
    <input id="id_date" maxlength="40" value="{{ order.dateentered }}" name="orderdate" type="text" readonly />
    <input id="id_price" value="${{ order.price }}" name="price" type="text" style="width:60px" readonly />
    <input type="submit" name="view_order_details" value="View Details">
    </form>
    </td></tr>
  {% endfor %}
</table>
{% else %}
-none-<br />
{% endif %}

<b>Filled orders:</b> <br />
{% if filled_orders %}
<table border="0">
  {% for order in filled_orders %}
   <tr><th>
    <form method="post" action=".">{% csrf_token %}
    <input id="id_orderid" value="{{ order.orderid }}" name="orderid" type="number" style="width:60px" readonly />
    <input id="id_date" maxlength="40" value="{{ order.dateentered }}" name="orderdate" type="text" readonly />
    <input id="id_price" value="${{ order.price }}" name="price" type="text" style="width:60px" readonly />
    <input type="submit" name="view_order_details" value="View Details">
    </form>
    </td></tr>
  {% endfor %}
</table>
{% else %}
-none-<br />
{% endif %}

{% endif %}

{% if person.affiliation == "Employee" %}
Welcome, employee!
<!-- Employee dashboard. -->
Unfilled orders: <br />
{% if unfilled_orders %}
<table border="0">
   <tr>
     <th>Order ID</th>
     <th>Date</th>
     <th>Customer ID</th>
     <th>Price</th>
   </tr>
  {% for order in unfilled_orders %}
   <tr>
    <form method="post" action=".">{% csrf_token %}
      <td>
    <input id="id_orderid" value="{{ order.orderid }}" name="orderid" type="number" style="width:60px" readonly />
      </td>
      <td>
    <input id="id_date" maxlength="40" value="{{ order.dateentered }}" name="orderdate" type="text" style="width:120px" readonly />
      </td>
      <td>
    <input id="id_customerid" value="{{ order.customerid.customerid }}" name="customerid" type="number" style="width:100px" readonly />
      </td>
      <td>
       <input id="id_price" value="${{ order.price }}" name="price" type="text" style="width:60px" readonly />
       </td>
      <td>
    <input type="submit" name="view_order_details" value="View Details">
   </td>
    </form>
</tr>
  {% endfor %}
</table>
{% else %}
-none-<br />
{% endif %}
{% endif %}


{% endblock %}
