{% extends "base.html" %}
{% block title %}Playlist Details{% endblock %}
{% block head %}Playlist Details{% endblock %}
{% block content %}


{% if trackresult != None %}
<hr> 
 <b> Playlist Contains</b><br />
<hr> <br />
  <table border="0">
  {% for playlisttrack in trackresult %}
   <tr><th>
    <form method="post" action=".">{% csrf_token %}
    <input id="id_playlisttrackid" value="{{ playlisttrack.trackid }}" name="playlisttrackid" type="number" style="width:60px" readonly /> 
    <input id="id_playlisttrackname" maxlength="40" value="{{ playlisttrack.name }}" name="playlisttrackname" type="text" style="width:300px" readonly />
    <input id="id_artistname" maxlength="40" value="{{ playlisttrack.artistname }}" name="playlisttrackartistname" type="text" readonly />   
    {% if person.affiliation == "Employee" or person.affiliation == "Administrator" %}
    <input type="submit" name="remove_track_upl" value="Remove">
    {% endif %}
    <br/>
    </form>
   </td></tr>

  {% endfor %}
{% endif %}
<table></table>
<br />
{% if person.affiliation == "Employee" or person.affiliation == "Administrator" %}

  <hr>
  <b>Search to Add Tracks</b><br/>
  <hr> 
  <form method="post" action=".">{% csrf_token %}
    <table border="0">
      {{ form.as_table }}
    </table>
  <input type="submit" name="search_track" value="Search" />
  </form>

  {% if tracksearchresult != None %}
  <hr> 
   <b> Search results:</b><br />
  <hr> <br />
    <table border="0">
    {% for searchtrack in tracksearchresult %}
     <tr><th>
      <form method="post" action=".">{% csrf_token %}
      <input id="id_searchtrackid" value="{{ searchtrack.trackid }}" name="searchtrackid" type="number" style="width:60px" readonly /> 
      <input id="id_searchtrackname" maxlength="40" value="{{ searchtrack.name }}" name="searchtrackname" type="text" style="width:300px" readonly />
      <input id="id_searchtrackartistname" maxlength="40" value="{{ searchtrack.artistname }}" name="searchtrackartistname" type="text" readonly />   
      <input type="submit" name="add_track_upl" value="Add to Playlist">
      </form>
     </td></tr>

    {% endfor %}
  {% endif %}
{% endif %}
{% endblock %}
