{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block head %}Search{% endblock %}
{% block content %}

<form method="post" action=".">{% csrf_token %}
  <table border="0">
    {{ form.as_table }}
  </table>
<input type="submit" value="Search" />
</form>

{% if result != None %}
<hr> 
 <b> Search results:</b><br />
<hr> <br />
  <table border="0">
  {% for track in result %}
   <tr><th>
    <form method="post" action=".">{% csrf_token %}
    <input id="id_trackid" value="{{ track.trackid }}" name="trackid" type="number" style="width:60px" readonly /> 
    <input id="id_item" maxlength="40" value="{{ track.name }}" name="item" type="text" style="width:300px" readonly />
    <input id="id_artistname" maxlength="40" value="{{ track.artistname }}" name="artistname" type="text" readonly />   
    <input type="submit" value="Add To Cart">
    </form>
   </td></tr>

  {% endfor %}
{% endif %}

{% endblock %}
