{% extends "base.html" %}
{% block title %}Sales Reporting{% endblock %}
{% block head %}Sales Reporting{% endblock %}
{% block content %}

<p>This is the employee sales reporting screen.</p>

<p>
<!--
We currently serve {{ customer_numbers }} customers in {{ customer_country_numbers }} different countries.

Probably change this to say some aggregate information about sales. -->
</p>

Search for Sales: <br />

<form method="post" action=".">{% csrf_token %}
  <table border="0">
    {{ form.as_table }}
  </table>
<input type="submit" name="search"  value="Search" />
</form>


<!-- Format below to pull sales results from the result. -->

{% if orders_found != None %}
<hr> 
 <b> Found {{ num_orders_found }} orders and {{ num_tracks_found }} tracks for a total of ${{ total_price }}:</b><br />
<hr> <br />
{% for order in orders_found %}
    <form method="post" action=".">{% csrf_token %}
    <input id="id_orderid" value="{{ order.orderid }}" name="orderid" type="number" style="width:60px" readonly />
    <input id="id_date" maxlength="40" value="{{ order.dateentered }}" name="orderdate" type="text" readonly />
    <input id="id_price" value="${{ order.price }}" name="price" type="text" style="width:60px" readonly />
    <input type="submit" name="view_order_details" value="View Details">
    </form>
{% endfor %}
 
{% endif %}

{% endblock %}
