{% extends "base.html" %}
{% block title %}Napster 2 Dashboard{% endblock %}
{% block head %}Checkout{% endblock %}
{% block content %}

Confirmation will lead to checkout success. <br />

Please review your order. <br />

Tracks: <br />
{% if track_cart %}
<table border="0">
  {% for tuple in track_cart %}
   <tr><th>
    <form method="post" action=".">{% csrf_token %}
    <input id="id_trackid" value="{{ tuple.0 }}" name="trackid" type="number" style="width:60px" readonly />
    <input id="id_item" maxlength="40" value="{{ tuple.1 }}" name="track" type="text" readonly />
    <input id="id_price" value="${{ tuple.2 }}" name="price" type="text" style="width:60px" readonly />
    </form>
    </td></tr>
  {% endfor %}
</table>
{% else %}
-none-<br />
{% endif %}

User Playlists: <br />
{% if upl_cart %}
<table border="0">
 {% for tuple in upl_cart %}
   <tr><th>
    <form method="post" action=".">{% csrf_token %}
    <input id="id_myplaylistid" value="{{ tuple.0 }}" name="myplaylistid" type="number" style="width:60px" readonly />
    <input id="id_myplaylist" maxlength="40" value="{{ tuple.1 }}" name="myplaylist" type="text" readonly />
    <input id="id_price" value="${{ tuple.2 }}" name="price" type="text" style="width:60px" readonly />
    </form>
    </td></tr>
  {% endfor %}
</table>
{% else %}
-none-<br />
{% endif %}

Staff Picks: <br />
{% if epl_cart %}
<table border="0">
  {% for tuple in epl_cart %}
   <tr><th>
    <form method="post" action=".">{% csrf_token %}
    <input id="id_playlistid" value="{{ tuple.0 }}" name="playlistid" type="number" style="width:60px" readonly />
    <input id="id_playlist" maxlength="40" value="{{ tuple.1 }}" name="playlist" type="text" readonly />
    <input id="id_price" value="${{ tuple.2 }}" name="price" type="text" style="width:60px" readonly />
    </form>
    </td></tr>
  {% endfor %}
</table>
{% else %}
-none-<br />
{% endif %}
<hr />
Total price: ${{ total_price }}
<hr />

{% if show_confirm_button and person.affiliation == "Customer" %}
  <form method="post" action=".">{% csrf_token %}
    {% if person.creditcardnumber != None %}
      <input type="radio" name="payment_type" value="cc"> Credit Card <br />
    {% endif %}
    {% if person.paypalemail != None %}
      <input type="radio" name="payment_type" value="pp"> Paypal <br />
    {% endif %}
    {% if person.googlepayid != None %}
      <input type="radio" name="payment_type" value="gp"> Google Pay <br />
    {% endif %}
    {% if person.applepayid != None %}
      <input type="radio" name="payment_type" value="ap"> Apple Pay <br />
    {% endif %}
      <input type="submit" name="confirm" value="Confirm" />
  </form>
{% endif %}

{% if person.affiliation == "Employee" %}
  Employees cannot check out.
{% elif not show_confirm_button %}
You cannot check out your shopping cart because your information is not updated. Please make sure to update your email, postal code, city, country, and have at least one payment method. 
{% endif %}

{% endblock %}
