{% extends "base.html" %}
{% block title %}Napster 2 Dashboard{% endblock %}
{% block head %}Shopping Cart{% endblock %}
{% block content %}

Tracks: <br />
{% if track_cart %}
<table border="0">
  {% for tuple in track_cart %}
   <tr><th>
    <form method="post" action=".">{% csrf_token %}
    <input id="id_trackid" value="{{ tuple.0 }}" name="trackid" type="number" style="width:60px" readonly />
    <input id="id_item" maxlength="40" value="{{ tuple.1 }}" name="track" type="text" readonly />
    <input id="id_price" value="${{ tuple.2 }}" name="price" type="text" style="width:60px" readonly />
    <input type="submit" name="remove_track" value="Remove From Cart">
    </form>
    </td></tr>
  {% endfor %}
</table>
{% else %}
-none-<br />
{% endif %}

User Playlists: <br />
{% if upl_cart %}
<table border="0">
 {% for tuple in upl_cart %}
   <tr><th>
    <form method="post" action=".">{% csrf_token %}
    <input id="id_myplaylistid" value="{{ tuple.0 }}" name="myplaylistid" type="number" style="width:60px" readonly />
    <input id="id_myplaylist" maxlength="40" value="{{ tuple.1 }}" name="myplaylist" type="text" readonly />
    <input id="id_price" value="${{ tuple.2 }}" name="price" type="text" style="width:60px" readonly />
    <input type="submit" name="remove_myplaylist" value="Remove From Cart">
    </form>
    </td></tr>
  {% endfor %}
</table>
{% else %}
-none-<br />
{% endif %}

Staff Picks: <br />
{% if epl_cart %}
<table border="0">
  {% for tuple in epl_cart %}
   <tr><th>
    <form method="post" action=".">{% csrf_token %}
    <input id="id_playlistid" value="{{ tuple.0 }}" name="playlistid" type="number" style="width:60px" readonly />
    <input id="id_playlist" maxlength="40" value="{{ tuple.1 }}" name="playlist" type="text" readonly />
    <input id="id_price" value="${{ tuple.2 }}" name="price" type="text" style="width:60px" readonly />
    <input type="submit" name="remove_playlist" value="Remove From Cart">
    </form>
    </td></tr>
  {% endfor %}
</table>
{% else %}
-none-<br />
{% endif %}

<form method="post" action=".">{% csrf_token %}
<input type="submit" name="checkout" value="Checkout">
</form>
    
{% endblock %}
